<div id="workPlan" class="container-fluid"
     :class="{'appearWorkPlan': isAppearWorkPlan, 'hiddenWorkPlan': isHiddenWorkPlan}">
    <div class="centered ourWorkPlan"><u>План работы</u></div>
    <div class="centered ourWorkPlan fontStyle"><h5 class="textCenter">В первую очередь наши специалисты ориентируются
        на требования заказчика и выполняют монтаж кровли под ключ в полном соответствии с предъявленными
        требованиями клиента. Чтобы максимально соответствовать всем ожиданиям клиента, каждая из стадий работ
        оговариваются по следующей схеме:</h5>
    </div>
    <div class="row" v-for="(plan, index) in workPlan">
        <div class="img-section" :class="index % 2 === 0 ? 'img-section-left' : 'row-reverse img-section-right'">
            <img class="fade-in" v-lazy="plan.src" alt=""/>
            <div class="img-data fade-in">
                <h2 class="textCenter">{{plan.title}}</h2>
                <p><h5 class="textLeft">{{plan.description}}</h5></p>
            </div>
        </div>
    </div>
</div>
