#workPlan {
    transition: all 200ms linear;
    max-width: 1920px;
}

.ourWorkPlan {
    font-size: 30px;
    height: 40px;
    margin: 40px 0;
}

.appearWorkPlan {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hiddenWorkPlan {
    display: none;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.fontStyle {
    font-family: "Times New Roman", sans-serif;
    font-size: 16px;
}

.img-section-left {
    background: linear-gradient(135deg, #337AB7 0%, #337AB7 40%, #FFF 40%, #FFF 100%);
}

.img-section-right {
    background: linear-gradient(-45deg, #337AB7 0%, #337AB7 40%, #FFF 40%, #FFF 100%);
}

.img-section {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.img-section img {
    border: 20px solid rgba(191, 226, 255, 0.8);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    margin: 40px;
    box-sizing: border-box;
    flex: 0 0 45%;
    width: 45%;
}

.img-section .img-data {
    font-family: "Times New Roman", sans-serif;
    font-size: 16px;
    padding: 20px;
}

@media only screen and (max-width: 900px) {
    .img-section.row-reverse {
        flex-flow: row wrap-reverse;
    }

    .img-section {
        flex-flow: row wrap;
    }

    .img-section .img-data {
        background: #FFF;
    }

    .img-section img {
        margin: 40px auto;
        flex: 0 0 80%;
        width: 80%;
    }

    .textRight {
        text-align: center;
    }

    .textLeft {
        text-align: center;
    }
}
