<div id="services" class="container-fluid" :class="{'appear': isAppear, 'hidden': isHidden}">
    <div class="centered ourServices"><u>Наши услуги</u></div>
    <div class="mb-2">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-5 centered">
                <img src="../../assets/money-time.jpg" height="200" alt="services">
            </div>
            <div class="col-12 col-md-7 col-lg-7 px-3 centered">
                    <div class="moneyTimeText px-5 text-center">
                        Наша компания пытается упростить заказчикам жизнь и предоставляет широкий спектр услуг,
                        избавляя их от необходимости искать отдельных специалистов для выполнения разных типов работ.
                        В нашей компании Вы сможете заказать одновременно несколько услуг, которые будут выполнены на
                        профессиональном уровне и в строго оговоренные сроки, что сэкономит Вам не только деньги, но и время.
                    </div>
            </div>
        </div>
    </div>
    <hr class="line">
    <div class="mb-2">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-7 px-3 centered">
                <div class="moneyTimeText px-5 text-center">
                    Мы специализируемся на установке и ремонте кровельных материалов разных типов, но, помимо этого,
                    выполняем еще и ряд сопутствующих работ. Многолетний опыт наших кровельщиков и их высокая квалификация
                    делает нашу компанию одной из лучших в своем сегменте на территории Гомеля и Гомельской области.
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-5 centered">
                <img src="../../assets/roofer.jpg" height="200" alt="services">
            </div>
        </div>
    </div>
</div>
