.jk{
    background: url('../../assets/home.jpg');
}
.centered {
    display: flex;
    justify-content: center;
}
.moneyTimeText {
    margin: auto;
}
#services{
    background-image: url('../../assets/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 200ms linear;
}
.hover-image-8 a {
    display: inline-block;
    background: #0083ff;
    line-height: 0;
}
.hover-image-8 a img {
    transition: filter 0.5s linear;
    filter: brightness(2) grayscale(1) opacity(0.5);
}
.hover-image-8 a:hover img {
    filter: none;
}
.ourServices{
    font-size: 30px;
    height: 40px;
    margin: 40px 0;
}
.line {
    width: 30%;
    background: black;
}
.appear{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.hidden{
    display: none;
}
