<div id="services" class="container-fluid" :class="{'appear': isAppear, 'hidden': isHidden}">
    <div class="centered ourServices"><u>Наши услуги</u></div>
    <div class="img-section" v-for="(service, index) of servicesList">
        <template v-if="index % 2 === 0">
            <img :src="service.src" alt=""/>
            <div class="img-data">
                <p><h5 class="textCenter">{{service.description}}</h5></p>
            </div>
        </template>
        <template v-else>
            <div class="img-data">
                <p><h5 class="textCenter">{{service.description}}</h5></p>
            </div>
            <img :src="service.src" alt=""/>
        </template>
    </div>
</div>
