<div class="hero-anime">
    <div class="navigation-wrap bg-light start-header" :class="{'start-style': isStartStyle, 'scroll-on': isScrollOn}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <img class="sizeLogo" src="/logo.png" alt="">

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a class="nav-link" href="#" v-scroll-to="'home'" role="button">Главная</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#" v-scroll-to="'production'">Продукция</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#" v-scroll-to="'services'">Услуги</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#" v-scroll-to="'portfolio'">Портфолио</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#" v-scroll-to="'workPlan'">План работы</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" v-on:mouseenter="onMouseNavItemContacts" v-on:mouseleave="onMouseNavItemContacts">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false" href="#" v-scroll-to="'contacts'">Контакты</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="tel:+375299770345"><img class="sizeLogoPhone"
                                                                               src="../../assets/a1.svg" alt="">+375299770345</a>
                                        <a class="dropdown-item" href="tel:+375259129599"><img class="sizeLogoPhone"
                                                                               src="../../assets/life.png" alt="">+375259129599</a>
                                        <a class="dropdown-item" href="tel:+375292038692"><img class="sizeLogoPhone"
                                                                               src="../../assets/mts.png" alt="">+375292038692</a>
                                        <a class="dropdown-item" href="https://instagram.com/teremok_krovlya_gomel">
                                            <img src="../../assets/instagram.png" width="19" height="19"/>
                                            Наш инстаграмм</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

