<div id="production">
    <div class="centered ourProduction"><u>Продукция</u></div>
    <div class="centered">
        <div class="gallery-image display">
            <div class="img-box" v-for="item in productionList">
                <img alt="" :src="item.src"/>
                <div class="transparent-box">
                    <div class="caption">
                        <p>{{item.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="centered ourProduction"><u>Сопутствующие товары</u></div>
    <b-carousel
            id="carousel-1"
            class="styleCarousel"
            v-model="slide"
            :interval="4000"
            controls
            indicators
            background="PaleTurquoise"
            style="text-shadow: 1px 1px 2px #333;"
    >
        <b-carousel-slide v-for="elem in relatedProducts" class="img-box-related" :key="elem.src">
            <template #img>
                <div class="img-section-related centered cont">
                    <img
                            class="marginAuto"
                            height="300"
                            width="350"
                            :src="elem.src"
                            alt="image slot"
                    >
                    <div class="content">
                        <p>{{elem.name}}</p>
                    </div>
                </div>
            </template>
        </b-carousel-slide>
    </b-carousel>
</div>
