<div id="production">
    <div class="centered ourProduction"><u>Продукция</u></div>
    <div class="centered">
        <div class="gallery-image display">
            <div class="img-box cursorPointer" v-for="item in productionList">
                <img alt="" :src="item.src"/>
                <div class="transparent-box">
                    <div class="caption">
                        <p>{{item.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="centered ourProduction"><u>Сопутствующие товары</u></div>
    <Slider
            animation="fade"
            v-model="sliderValue"
            :duration="5000"
            :speed="1000"
            style="height: 450px"
    >
        <SliderItem
                v-for="(elem, index) in relatedProducts"
                :key="index"
                @click="changeIndex(1);"
                class="sliderStyle"
        >
            <div class="img-section-related centered cont">
                <img
                        :id="'img'+index"
                        class="marginAuto"
                        height="300"
                        width="350"
                        :src="elem.src"
                        :alt="index"
                >
                <div class="content">
                    <p>{{elem.name}}</p>
                </div>
            </div>
        </SliderItem>
    </Slider>
</div>
