<div id="contactsStyle" class="footerStyle">
    <div id="contacts">
        <footer class="bg-light text-center text-lg-start">
            <div class="text-center p-3 contactsElem row">
                <div class="col-12 col-sm-2 col-md-3 col-lg-3 marginAuto">
                    <a class="nav-link" href="#" v-scroll-to="'home'">
                        <span class="arrow circle up"></span>
                    </a>
                </div>

                <div class="copyrightLabel col-12 colorText col-sm-4 col-md-3 col-lg-4">
                    © Copyright:
                    <a class="text-dark" href="https://teremoc-krovlya.by/"><span class="colorText">Teremok</span></a>.
                    All rights reserved.<br/> Website development:
                    <a class="text-dark" href="https://instagram.com/anthonykozlov"><span class="colorText"><u>Anton Kozlov</u></span></a>.
                </div>

                <div class="centered col-12 col-sm-6 col-md-5 col-lg-5">
                    <div class="instBlock">
                        <a href="https://instagram.com/teremok_krovlya_gomel">
                            <img src="../../assets/instagram.png" width="40" height="40"/>
                        </a>
                    </div>
                    <div class="centered">
                        <div class="marginAuto colorText">
                            <div><img class="sizeLogoPhone" src="../../assets/a1.svg" alt=""><a href="tel:+375299770345" class="colorText colorPhone textDecoration">+375299770345</a></div>
                            <div><img class="sizeLogoPhone" src="../../assets/life.png" alt=""><a href="tel:+375259129599" class="colorText colorPhone textDecoration">+375259129599</a></div>
                            <div><img class="sizeLogoPhone" src="../../assets/mts.png" alt=""><a href="tel:+375292038692" class="colorText colorPhone textDecoration">+375292038692</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
