<div id="contactsStyle" class="footerStyle">
    <div id="contacts">
        <footer class="bg-light text-center text-lg-start">
            <div class="text-center p-3 contactsElem row">
                <div class="col-12 col-sm-2 col-md-3 col-lg-3 marginAuto">
                    <a class="nav-link" href="#" v-scroll-to="'#home'">
                        <b-icon icon="arrow-up-square" font-scale="3" class="styleIcon colorText"></b-icon>
                    </a>
                </div>

                <div class="copyrightLabel col-12 colorText col-sm-4 col-md-3 col-lg-4">
                    © Copyright:
                    <a class="text-dark" href="https://teremok-krovlya.by/"><span class="colorText">Teremok</span></a>.
                    All rights reserved.<br/> Website development:
                    <a class="text-dark" href="https://instagram.com/anthonykozlov"><span class="colorText"><u>Anton Kozlov</u></span></a>.
                </div>

                <div class="centered col-12 col-sm-6 col-md-5 col-lg-5">
                    <div class="instBlock">
                        <b-link href="https://instagram.com/teremoc_krovlya_gomel">
                            <b-icon icon="instagram" class="styleIcon colorText" font-scale="3"></b-icon>
                        </b-link>
                    </div>
                    <div class="centered">
                        <div class="marginAuto colorText">
                            <div><img class="sizeLogoPhone" src="../../assets/a1.svg" alt="">+375299770345</div>
                            <div><img class="sizeLogoPhone" src="../../assets/life.png" alt="">+375259129599</div>
                            <div><img class="sizeLogoPhone" src="../../assets/mts.png" alt="">+375292038692</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
