.contactsStyle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.styleIcon {
    cursor: pointer;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.styleIcon:hover {
    transform: scale(1.1);
}

.instBlock {
    margin: auto 40px;
}

.contactsElem {
    justify-content: space-around;
    display: flex;
    background-color: #337AB7
}

.copyrightLabel {
    margin: auto 0;
}

.footerStyle {
    box-shadow: 0 7px 20px 3px #337AB7;
}

.colorText {
    color: white;
}

.fontSize {
    font-size: 20px;
}

