.contactsStyle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.styleIcon {
    cursor: pointer;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.styleIcon:hover {
    transform: scale(1.1);
}

.instBlock {
    margin: auto 40px;
}

.contactsElem {
    justify-content: space-around;
    display: flex;
    background-color: #337AB7;
}

.copyrightLabel {
    margin: auto 0;
}

.footerStyle {
    box-shadow: 0 7px 20px 3px #337AB7;
}

.colorText {
    color: white;
    text-decoration: none;
}

.fontSize {
    font-size: 20px;
}

.colorPhone:hover {
    color: black;
}

.textDecoration {
    text-decoration: black;
}

.arrow {
  width: 50px;
  height: 50px;
  margin: 20px;
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    top: 20px;
    left: 30px;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 0 0;
    position: absolute;
    transform-origin: 50% 50%;
  }

  &.up::before { 
    transform: rotate(-45deg); 
    margin: -10px 0 0 -15px;
  }

  &::after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: white;
    position: absolute;
    transform-origin: 50% 50%;
  }
  
  &.up::after { 
    width: 0;
    height: 27px;
    border-width: 0 2px 0 0;
    transform: translate(-1px, -14px);
  }
  
  &.circle {
    border-radius: 50%;
    border: 2px solid white;
  }
}