<div id="portfolio" class="fade-in">
    <div class="centered ourProduction"><u>Портфолио</u></div>
    <ul class="nav nav-tabs centered">
        <li v-for="(itemList, index) in arrayPortfolio">
            <div class="tab btn marginElements widthLi" :class="[index === selectedIndex ? 'active' : '']"
                    aria-current="page"
                    @click="changeActive(index)">{{itemList.name}}
            </div>
        </li>
    </ul>
    <div class="centered">
        <template v-for="(itemList, index) in arrayPortfolio">
            <div class="gallery-image" :class="[index !== selectedIndex ? 'hidden' : 'display']">
                <div class="img-box zoomIn fade-in" v-for="element in itemList.list">
                    <img @click="showDialog(element.src)" alt="" v-lazy="element.src"/>
                </div>
            </div>
        </template>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal-img" @click="closeDialog()" :class="[isShow ? 'show' : 'hidden']">
        <img class="modal-content-img zoomOut" :src="src" id="img01">
        <div id="caption"></div>
    </div>
</div>

