<div id="mainApp">
    <Menu></Menu>
    <vue-scroll-indicator
            height="2px"
            color="black"
            background="none"
    >
    </vue-scroll-indicator>
    <div id="home" class="home">
        <div class="homeImage">
            <div class="container-fluid h-100 minHeight">
                <div class="row justify-content-between h-50">
                    <div class="col-12 block col-md-6 col-lg-6 centered">
                        <div class="backgroundHomeBlocks block swing">
                            <div class="marginAuto"><span class="uppercase"><u>Профессиональные</u></span> кровельные
                                работы в Гомеле и Гомельской области
                            </div>
                        </div>
                    </div>
                    <div class="col-12 block col-md-6 col-lg-6 centered">
                        <div class="textRight block backgroundHomeBlocks swing">
                            <div class="marginAuto">Выезд на замер <span class="uppercase"><u>бесплатно</u></span></div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between h-50">
                    <div class="col-12 block col-md-6 col-lg-6 centered">
                        <div class="bottom block backgroundHomeBlocks swing">
                            <div class="marginAuto"><span class="uppercase"><b>от 6 лет</b></span> на рынке кровельных
                                услуг
                            </div>
                        </div>
                    </div>
                    <div class="col-12 block col-md-6 col-lg-6 centered">
                        <div class="bottom block textRight backgroundHomeBlocks swing">
                            <div class="marginAuto"><span class="uppercase"><b>от 5 лет</b></span> гарантия на
                                выполненную работу
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Production/>
    <Services/>
    <Portfolio/>
    <WorkPlan/>
    <Contacts/>
</div>
